@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./product/table";
@import "./__global";


div.boxActivity {



	& div.boxTitle {
		border-top-right-radius: 0.3rem;
		border-top-left-radius: 0.3rem;
		background: #e2dfdf;
		padding: 1rem;
	}
}